@model IEnumerable<SabaiPadhau.Models.tblCourse>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginedLayout.cshtml";
}




    <div class="table">

        <div class="d-inline">

            @foreach (var item in Model)
            {

                if (item.Keyword == "Science" || item.Keyword == "science")
                {
            <div>
                <video width="820" height="640" controls>
                    <source src="~/Videos/@item.VideoPath" type="video/mp4" />
                </video><br>
                <h2> @Html.DisplayFor(modelItem => item.CourseTopic)</h2>
                <p>#@Html.DisplayFor(modelItem => item.Keyword)  </p>
                @Html.HiddenFor(modelItem => item.UserId)
                @Html.ActionLink("Contact Teacher", "ContactTeacher", "User", new { id = item.UserId }, new { @class = "btn btn-info" })
            </div>


                }

            }




        }
    
        </div>
    </div>